# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBOuLxqomYt5BSOkFyc6ijbHclKYfIeB9o
VITE_FIREBASE_AUTH_DOMAIN=proyectofinal-webg1-silvaronny.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=proyectofinal-webg1-silvaronny
VITE_FIREBASE_STORAGE_BUCKET=proyectofinal-webg1-silvaronny.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=187983008141
VITE_FIREBASE_APP_ID=1:187983008141:web:f10ca1868b628181172dc4

# Supabase Configuration
VITE_SUPABASE_URL=https://mjrmchgxbclkhzpacoys.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qcm1jaGd4YmNsa2h6cGFjb3lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3MDE3ODQsImV4cCI6MjA3ODI3Nzc4NH0._XbLIpNSTFGsdC9Xq-zFpdvp6aT6HVAC8NcrUTywgUk